{% extends 'base.html' %}
{% block content %}
<h3 style="margin:1em; border-radius:10%; padding:0.25em; font-style:italic; text-align:center; color:#003060; background-color: #D0D0D0; font-family: Century Gothic">Client Login</h3>
<div class="container" style="margin-left:10%">
    <form action = '/login' method="post">
        <div class="mb-3" style="font-family:Century Gothic, Arial, sans-serif">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3" style="font-family:Century Gothic, Arial, sans-serif">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="text" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary" style="font-family:Century Gothic, Arial, sans-serif">Login</button>
    </form>
</div>

<p style="text-align:center; font-family:Century Gothic, Arial, sans-serif">
    <inline href="#" style="text-decoration: underline; font-size:1em; color:navy; padding-right:3em">Forgot Username?</inline>
    <inline href="#" style="text-decoration: underline; font-size:1em; color:navy; padding-left:3em">Forgot Password?</inline>
</p>

<p style="text-align:center; font-style:italic; font-size:1em; font-weight:bold; color:navy; font-family:Century Gothic, Arial, sans-serif">New Client?  Click here to join Kubera Financial Services</p>
<ul style="text-align:center">
    <li class="nav-item" style="list-style-type: none">
        <a class="nav-link" href="/register" style="color:white; text-decoration:underline; font-weight:bold; font-family:Century Gothic, Arial, sans-serif">Create Account</a>
    </li>
</ul>

<p style="margin-top: 0.5em; margin-left: 31em; font-weight:bold; font-family:Century Gothic, Arial, sans-serif; font-size:1em; font-weight: bolder; color: yellow">{{ message }}</p>
{% endblock %}
